.grid-container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  margin: 10px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.consent-card {
  margin-top: 10px;
}

.submitButton {
  margin-top: 10px;
}

.consent-form-control {
  white-space: normal;
}

.consent-form {
  grid-column: col-start 2 / span 10;
}

.terms-text {
  max-height: 300px;
  overflow: scroll;
}

.card-title {
  width: 300px;
}

.data-type-card {
  margin-top: 2px;
}

.card-title .mat-icon {
  margin-right: 10px;
}

.scrollWrapper {
  height: 80%;
  overflow-y: scroll;
}

@media (max-width: 720px) {
  .consent-form {
    grid-column: col-start 1 / span 12;
  }

  .mat-slide-toggle-content {
    white-space: initial !important;
  }
}

@media (min-width: 720px) {
  .consent-form {
    grid-column: col-start 2 / span 10;
  }
}
