:root {
  --dipf-blue: rgb(102, 153, 204);
  --dipf-gray: rgb(102, 102, 102);
  --dipf-orange: rgb(225, 153, 0);
}

.timeline-line {
  border-left: 2px solid var(--dipf-blue);
  position: absolute;
  display: block;
  top: -15px;
  left: 55px;
  height: 100%;
}

.timeline-box {
  display: flex;
  margin-bottom: 15px;
  z-index: 10;
}

.timeline-indicator {
  z-index: 10;
  background: var(--dipf-blue);
  border: 2px solid rgb(102, 102, 102);
  margin-bottom: 15px;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
}
.mono-font {
   font-family: "Lucida Console", Monaco, monospace
}

@media screen and (min-width: 641px) {
  .timeline-box {
    padding-left: 40px;
    flex-direction: row;
    align-items: center;
  }

  .timeline-card {
    width: 600px;
    margin-left: 10px;
  }

  .timeline-indicator {
    margin-left: 10px;
  }
}
