<div class="wrapper">
  <lte-header>

    <ul class="navbar-nav nav" *appShowAuthed="false">
      <li class="nav-item d-none d-sm-inline-block">
        <a routerLink="/user/signup" class="nav-link">Sign up</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a routerLink="/user/signin" class="nav-link">Login</a>
      </li>
    </ul>
    <app-toolbar-profile *appShowAuthed="true">

    </app-toolbar-profile>
  </lte-header>

  <lte-main-sidebar logo="../assets/images/TLA_Dashboard_Shield.png" brand="TRULA" link="">
    <li lte-menu-item [hasChildren]="false" title="Courses" router="/courses">
    <li lte-menu-item [hasChildren]="true" title="Pages" router="/">
      <ul ng-sidebar-pages-menu class="nav nav-treeview">
      </ul>
    </li>
    <li lte-menu-item [hasChildren]="false" title="Privacy" router="/user"></li>

  </lte-main-sidebar>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>