<div class="wrapper">
  <lte-header>

    <li class="nav-item d-none d-sm-inline-block">
      <a href="." class="nav-link">Home</a>
      <a routerLink="/user/login" class="nav-link">Login</a>
    </li>


  </lte-header>

  <lte-main-sidebar logo="../assets/images/TLA_Dashboard_Shield.png" brand="TRULA" link="">
    <li lte-menu-item [hasChildren]="false" title="Courses" router="/courses">
      <li lte-menu-item [hasChildren]="true" title="Pages" router="/">
        <ul ng-sidebar-pages-menu class="nav nav-treeview">
        </ul>
      </li>
      <li lte-menu-item [hasChildren]="false" title="Privacy" router="/user"></li>

  </lte-main-sidebar>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>